@{
    ViewData["Title"] = "Home Page";
}

<style>
    .cover-image {
        background: url('/images/1.jpg') no-repeat center center;
        background-size: cover;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff; 
    }

    .cover-text {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 10px;
    }

    h1.display-4 {
        margin-bottom: 20px;
    }
</style>

<div class="cover-image">
    <div class="cover-text">
        <h1 class="display-4">Best Films</h1>
        <p>Лучшие фильмы здесь.</p>
    </div>
</div>

